<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Resume Topal Mikhail</title>
</head>

<body>
  <div class="container">
    <header class="header">
      <div class="header-logo">
        <img class="header-logo__avatar"
          src="images/content/ava/ava1.jpg"
          alt="avatar">
      </div>
      <div class="header-description">
        <div class="description">
          <div class="name-section">
            <div class="name">
              <span class="name-first">Mikhail</span>
              <span class="name-second">Topal</span>
            </div>
            <span class="speciality">QA-Engineer</span>
          </div>
          <div class="social-webs vk">
            <a href="https://vk.com/russenia" class="social-icon">
              <img
                src="https://pngicon.ru/file/uploads/vk.png"
                alt="vk-link"
                class="vk-icon">
            </a>
            <a href="https://www.facebook.com/mihail.topal" class="social-icon">
              <img
                src="https://pngicon.ru/file/uploads/FaceBook_512x512.png"
                alt="vk-link"
                class="vk-icon">
            </a>
            <a href="mailto: wallguard313@gmail.com" class="social-icon">
              <img
                src="https://pngicon.ru/file/uploads/znachok-jelektronnoj-pochty.png"
                alt="vk-link"
                class="vk-icon">
            </a>
          </div>
        </div>
        <hr class="hr">
        <div class="contacts">
          <div class="location">
            <span class="top-item">Location:</span>
            <span class="bottom-item">Taganrog, Russia</span>
          </div>
          <div class="phone">
            <span class="top-item">Phone:</span>
            <span class="bottom-item">+79081723209</span>
          </div>
          <div class="email">
            <span class="top-item">Email:</span>
            <div class="bottom-item">wallguard313@gmail.com</div>
          </div>
        </div>
      </div>
    </header>
  </div>
  <div class="about-me">
    <div class="about-me__header">
      <h1>О себе:</h1>
    </div>
    <div class="about-me__text">
      <span class="">sdfasdf asdf as fsd</span>
    </div>
  </div>
  <div class="expertise">
    <div class="expertise__header">
      <h1>Квалификация:</h1>
    </div>
    <div class="expertise__text">
      <div class="expert-item">
        <div class="expert-item__num">
          <span class="expert-number">01</span>
        </div>
        <div class="expert-descr">
          <h3 class="expert-descr__header">Мануальное тестирование</h3>
          <span class="expert-descr__text">
            sdfsdfsdfds sdf sdf sdf dsf sdfs dfsdf
          </span>
        </div>
      </div>
      <div class="expert-item">
        <div class="expert-item__num">
          <span class="expert-number">02</span>
        </div>
        <div class="expert-descr">
          <h3 class="expert-descr__header">Автоматизация</h3>
          <span class="expert-descr__text">
            sdfsdfsdfds sdf sdf sdf dsf sdfs dfsdf
          </span>
        </div>
      </div>
      <div class="expert-item">
        <div class="expert-item__num">
          <span class="expert-number">03</span>
        </div>
        <div class="expert-descr">
          <h3 class="expert-descr__header">Анализ UI/UX</h3>
          <span class="expert-descr__text">
            sdfsdfsdfds sdf sdf sdf dsf sdfs dfsdf
          </span>
        </div>
      </div>
      <div class="expert-item">
        <div class="expert-item__num">
          <span class="expert-number">04</span>
        </div>
        <div class="expert-descr">
          <h3 class="expert-descr__header">Безопасность</h3>
          <span class="expert-descr__text">
            sdfsdfsdfds sdf sdf sdf dsf sdfs dfsdf
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="skills">
    <div class="skills__header">
      <h1>Инструменты:</h1>
    </div>
    <div class="skills__text">
      <div class="">k6, Selenium, puppeteer, sypress</div>
      <div class="">Jest(Back:Supertest, Front: Enzyme), AVA</div>
      <div class="">Postman, Curl(bash)</div>
      <div class="">React devtools, Redux devtools</div>
      <div class="">Android Studio, Xcode, Test flight, Expo</div>
      <div class="">Jira, Trello, Redmine</div>
      <div class="">DBeaver, Valentina Studio</div>
      <div class="">bash-scripting</div>
      <div class="">Security: sqlmap, nmap, OWASP ZAP</div>
    </div>
  </div>


  <div class="expertise">
    <div class="expertise__header">
      <h1>Технологии:</h1>
    </div>
    <div class="expertise__text">
      <div class="expert-item">
        <div class="expert-item__num">
          <span class="expert-number">01</span>
        </div>
        <div class="expert-descr">
          <h3 class="expert-descr__header">Header</h3>
          <span class="expert-descr__text">
            sdfsdfsdfds sdf sdf sdf dsf sdfs dfsdf
          </span>
        </div>
      </div>
      <div class="expert-item">
        <div class="expert-item__num">
          <span class="expert-number">02</span>
        </div>
        <div class="expert-descr">
          <h3 class="expert-descr__header">Header</h3>
          <span class="expert-descr__text">
            sdfsdfsdfds sdf sdf sdf dsf sdfs dfsdf
          </span>
        </div>
      </div>
      <div class="expert-item">
        <div class="expert-item__num">
          <span class="expert-number">03</span>
        </div>
        <div class="expert-descr">
          <h3 class="expert-descr__header">Header</h3>
          <span class="expert-descr__text">
            sdfsdfsdfds sdf sdf sdf dsf sdfs dfsdf
          </span>
        </div>
      </div>
      <div class="expert-item">
        <div class="expert-item__num">
          <span class="expert-number">04</span>
        </div>
        <div class="expert-descr">
          <h3 class="expert-descr__header">Header</h3>
          <span class="expert-descr__text">
            sdfsdfsdfds sdf sdf sdf dsf sdfs dfsdf
          </span>
        </div>
      </div>
    </div>
  </div>


  <footer class="footer">
    <div class="footer-items">
      <div class="footer-items__item ">
        <span class="footer-name">Михаил Топал</span>
      </div>
      <div class="footer-items__item">
        <span class="footer-items__item">Email: wallguard313@gmail.com</span>
      </div>
      <div class="footer-items__item">
        <span class="footer-items__item">Phone: +7(908)17-23-209</span>
      </div>
    </div>
  </footer>
</body>

</html>
